<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:fragment="styles">
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <a class="navbar-brand" href="/">CONFERENCE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Main<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ADMINISTRATOR')">
                    <a class="nav-link" th:href="@{~/users}">Users</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ADMINISTRATOR')">
                    <a class="nav-link" th:href="@{~/presentations/presentationsList}">Presentations</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ADMINISTRATOR')">
                    <a class="nav-link" th:href="@{~/schedule/list}">Schedule</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('PRESENTER')">
                    <a class="nav-link" th:href="@{~/schedule/mySchedule}">My schedule</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('PRESENTER')">
                    <a class="nav-link" th:href="@{~/presentations/myPresentations}">My presentations</a>
                </li>
                <li class="nav-item active" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{~/users/addUser}">Registration</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-success" th:href="@{~/swagger-ui.html#}">Swagger</a>
                </li>
            </ul>
            <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                <form th:case="${false}" class="form-inline my-2 my-md-0">
                    <a class="btn btn-primary" href="/login">Log in</a>
                </form>
                <form th:case="${true}" class="form-inline my-2 my-md-0">
                    <h5 class="text-white" style="padding-right: 7px; padding-top: 5%;"
                        th:text="'Hi, ' + ${#strings.capitalize(#authentication.getName())} + '!'"></h5>
                    <a class="btn btn-primary" href="/logout">Log out</a>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>