.form-block {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .125);
}

table.table-hover tr:first-child td {
    border-top: none;
}

div.text-center {
    margin: 2vh;
}

* {
    outline: 0;
    font-family: sans-serif
}

body {
    background-color: #fafafa
}

span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}


/*Styling Selectbox*/
.dropdown {
    width: 350px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 16px;
    color: #474747;
    height: 4vh;
    text-align: left
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}

.dropdown.active .select > i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 3% auto 0;
}

.th-half {
    width: 50%;
}

@media (min-width: 768px) {
    .field-label-responsive {
        padding-top: .5rem;
        text-align: right;
    }
}

.select-label {
    line-height: 4vh;
}

.select-date {
    line-height: 3vh;
}