<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<div class="container-fluid">
    <h2 class="text-center" style="margin-bottom: 3vh; margin-top: 3vh;">Create new presentation</h2>
    <div class="container form-block" style="margin-top: 5vh">
        <form th:action="@{~/presentations/addPresentation}" th:object="${presentation}" method="POST">
            <table class="table">
                <tr style="margin-bottom: 10px">
                    <td class="text-center">Presentation name:</td>
                    <td style="padding-bottom: 10px">
                        <input type="text" th:field="*{namePresentation}" required/>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Select presenters:</td>
                    <td>
                        <table class="table table-borderless">
                            <tr th:each="presenter : ${presenters}">
                                <td style="padding: 3px">
                                    <input type="checkbox" name="presenters" th:value="${presenter.id}"/>
                                    <label th:text="${presenter.lastName}+ ' ' +${presenter.firstName}"></label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="text-center"><input class="btn btn-primary" type="submit" value="OK"></div>
        </form>
    </div>
</div>
</body>
</html>