<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Add new conference</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<h2 class="text-center" style="margin-top: 10px">Create new conference</h2>
<div class="text-center" style="margin-top: 5px"><i class="text-danger" th:text="${message}"></i></div>
<div class="container form-block">
    <form th:action="@{~/schedule/addConference}" th:object="${schedule}" method="POST">
        <table class="table table-hover">
            <tr>
                <td class="text-center">
                    <p class="select-date">Date:</p>
                </td>
                <td><label>
                    <input type="datetime-local" th:field="*{date}" required/>
                </label></td>
            </tr>
            <tr>
                <td class="text-center">
                    <p class="select-label">Select a room:</p>
                </td>
                <td>
                    <select class="dropdown" th:field="*{room}">
                        <option th:each="room : ${rooms}"
                                th:value="${room.id}"
                                th:text="${room.number}">Rooms
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <p class="select-label">Select a presentation:</p>
                </td>
                <td>
                    <select class="dropdown" th:field="*{presentation}">
                        <option th:each="present : ${presentations}"
                                th:value="${present.id}"
                                th:text="${present.namePresentation}">Presentations
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="text-center"><input class="btn btn-primary" type="submit" value="OK"></div>
    </form>
</div>
</body>
</html>