<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<h2 class="text-center" style="margin-top: 3vh">Edit user</h2>
<div class="container">
    <div class="container form-block">
        <form th:action="@{/users/update/{id}(id=${user.id})}" th:object="${user}" method="POST">
            <table class="table">
                <tr>
                    <td class="text-center">Username:</td>
                    <td>
                        <input type="text" th:field="*{username}" th:value="${user.username}" required/>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">First name:</td>
                    <td>
                        <input type="text" th:field="*{firstName}" th:value="${user.firstName}" required/>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Last name:</td>
                    <td>
                        <input type="text" th:field="*{lastName}" th:value="${user.lastName}" required/>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">E-mail:</td>
                    <td>
                        <input type="text" th:field="*{email}" th:value="${user.email}" required/>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Credentials non expired:</td>
                    <td>
                        <select th:field="*{credentialsNonExpired}">
                            <option th:value="true" data-th-field="*{credentialsNonExpired}">true</option>
                            <option th:value="false" data-th-field="*{credentialsNonExpired}">false</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Non locked:</td>
                    <td>
                        <select th:field="*{accountNonLocked}">
                            <option th:value="true" data-th-field="*{accountNonLocked}">true</option>
                            <option th:value="false" data-th-field="*{accountNonLocked}">false</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Non expired:</td>
                    <td>
                        <select th:field="*{accountNonExpired}">
                            <option th:value="true" data-th-field="*{accountNonExpired}">true</option>
                            <option th:value="false" data-th-field="*{accountNonExpired}">false</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Enabled:</td>
                    <td>
                        <select th:field="*{enabled}">
                            <option th:value="true" data-th-field="*{enabled}">true</option>
                            <option th:value="false" data-th-field="*{enabled}">false</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Roles:</td>
                    <td>
                        <table class="table table-borderless">
                            <tr th:each="role : ${roles}">
                                <td>
                                    <input type="checkbox" th:field="${user.roles}" th:checked="${true}"
                                           th:value="${role.id}"/>
                                    <label th:text="${role.code}"></label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="text-center"><input class="btn btn-primary" type="submit" value="OK"></div>
        </form>
    </div>
</div>
</body>
</html>