<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<div class="container-fluid">
    <br>
    <h3 class="text-center">CONFERENCE SCHEDULE</h3>
    <div class="container-fluid">
        <div class="container-fluid" th:each="schedule : ${scheduleList}">
            <h3 th:text="ROOM + ' ' +${schedule.get(0).room.number}"></h3>
            <table th:if="${not #lists.isEmpty(schedule)}" class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th class="th-half" scope="col">Presentation</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
                </thead>
                <tr scope="row" th:each="sched : ${schedule}">
                    <td><a th:href="@{/schedule/{id}/details(id=${sched.id})}">
                        <h6 th:text="${sched.presentation}"></h6></a></td>
                    <td th:text="${sched.getStringDate(sched.date)}"></td>
                    <td th:text="${sched.getStringTime(sched.date)}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>