<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Presentations</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<div class="container-fluid">
    <div th:if="${not #lists.isEmpty(presentationsList)}">
        <h2 style="margin-top: 10px;">Presentations List</h2>
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th class="th-half">Name presentation</th>
                <th>Presenters</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="presentation : ${presentationsList}">
                <td><a th:href="@{/presentations/presentation/{id}/(id=${presentation.id})}">
                    <p td th:text="${presentation.namePresentation}"></p></a></td>
                <td>
                    <table class="table table-borderless">
                        <tr th:each="presenter : ${presentation.presenter}">
                            <td th:text="${presenter.firstName}+' '+${presenter.lastName}"></td>
                        </tr>
                    </table>
                </td>
                <td><a th:href="@{/presentations/delete/{id}(id=${presentation.id})}">Delete</a></td>
                <td><a th:href="@{/presentations/update/{id}(id=${presentation.id})}">Update</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>