<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<div class="container-fluid">
    <h2 style="margin-top: 10px">Presentation schedule</h2>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th class="th-half">Presentation</th>
            <th>Date</th>
            <th>Time</th>
            <th>Room</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tr th:each="schedule : ${scheduleList}">
            <td><a th:href="@{/schedule/{id}/details(id=${schedule.id})}">
                <h5 th:text="${schedule.presentation}"></h5></a></td>
            <td th:text="${schedule.getStringDate(schedule.date)}"></td>
            <td th:text="${schedule.getStringTime(schedule.date)}"></td>
            <td th:text="${schedule.room}"></td>
            <td><a th:href="@{/schedule/{id}/delete(id=${schedule.id})}">Delete</a></td>
        </tr>
    </table>

</div>

</body>
</html>