<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<h2 class="text-center" style="margin-top: 10px">Presentation info</h2>
<div class="container">
    <div class="form-block">
        <table class="table table-bordered">
            <tr>
                <td>Name</td>
                <td th:text="${presentation.namePresentation}"></td>
            </tr>
            <tr>
                <td>Presenters</td>
                <td>
                    <table class="table table-borderless">
                        <tr th:each="presenter : ${presentation.presenter}">
                            <td th:text="${presenter.firstName}+' '+${presenter.lastName}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Delete presentation</td>
                <td><a th:href="@{/presentations/delete/{id}(id=${presentation.id})}">Delete</a></td>
            </tr>
            <tr>
                <td>Update presentation</td>
                <td><a th:href="@{/presentations/update/{id}(id=${presentation.id})}">Update</a></td>
            </tr>
        </table>
    </div>
</div>
<br>
<div sec:authorize="hasRole('ADMINISTRATOR')" class="text-center"><a th:href="@{~/presentations/presentationsList}">Back</a></div>
<div sec:authorize="hasRole('PRESENTER')" class="text-center"><a th:href="@{~/presentations/myPresentations}">Back</a></div>
</body>
</html>