<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<h1 class="text-center" style="margin-top: 2vh">User info</h1>
<div class="container">
    <div class="form-block">
        <table class="table">
            <tr>
                <td>Id</td>
                <td th:text="${user.id}"></td>
            </tr>
            <tr>
                <td>Login</td>
                <td th:text="${user.username}"></td>
            </tr>

            <tr>
                <td>First name</td>
                <td th:text="${user.firstName}"></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td th:text="${user.lastName}"></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td th:text="${user.email}"></td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td th:text="${user.enabled}"></td>
            </tr>
            <tr>
                <td>Non Expired</td>
                <td th:text="${user.accountNonExpired}"></td>
            </tr>
            <tr>
                <td>Non locked</td>
                <td th:text="${user.accountNonLocked}"></td>
            </tr>
            <tr>
                <td>Credentials non expired</td>
                <td th:text="${user.credentialsNonExpired}"></td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>
                    <table class="table table-borderless">
                        <tr th:each="role : ${user.roles}">
                            <td th:text="${role.code}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
    </div>
</div>
<div class="text-center"><a th:href="@{~/users}">Users list</a></div>
</body>
</html>