<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>

<div class="container-fluid">
    <h2 style="margin-top: 10px;">Presentation schedule</h2>
    <h4><a th:href="@{~/presentations/addPresentation}">Add presentation</a></h4>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Presentation</th>
            <th>Presenters</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tr th:each="presentation : ${myPresentations}">
            <td th:text="${presentation.namePresentation}"></td>
            <td>
                <table class="table table-borderless">
                    <tr th:each="presenter : ${presentation.presenter}">
                        <td class="text-center" th:text="${presenter.firstName}+' '+${presenter.lastName}"></td>
                    </tr>
                </table>
            </td>
            <td><a th:href="@{/presentations/delete/{id}(id=${presentation.id})}">Delete</a></td>
            <td><a th:href="@{/presentations/update/{id}(id=${presentation.id})}">Update</a></td>
        </tr>
    </table>
</div>

</body>
</html>