<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>

<div class="container-fluid">
    <h2 style="margin-top: 10px;">Presentation schedule</h2>
    <h4><a th:href="@{~/schedule/addConference}">Add new conference</a></h4>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Presentation</th>
            <th>Date</th>
            <th>Time</th>
            <th>Room</th>
            <th>Presenters</th>
            <th>Listeners</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tr th:each="schedule : ${mySchedule}">
            <td th:text="${schedule.presentation.namePresentation}"></td>
            <td th:text="${schedule.getStringDate(schedule.date)}"></td>
            <td th:text="${schedule.getStringTime(schedule.date)}"></td>
            <td th:text="${schedule.room}"></td>
            <td>
                <table class="table table-borderless">
                    <tr th:each="presenter : ${schedule.presentation.presenter}">
                        <td class="text-center" th:text="${presenter.firstName}+' '+${presenter.lastName}"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table table-borderless">
                    <tr th:each="listener : ${schedule.listeners}">
                        <td class="text-center" th:text="${listener.firstName}+' '+${listener.lastName}"></td>
                    </tr>
                </table>
            </td>
            <td><a th:href="@{/schedule/{id}/delete(id=${schedule.id})}">Delete</a></td>
        </tr>
    </table>
</div>

</body>
</html>