<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<h1>Info</h1>

<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <td>Name</td>
        <td>Date</td>
        <td>Time</td>
        <td>Room</td>
        <td>Presenters</td>
        <td>Listeners</td>
        <td></td>
    </tr>
    </thead>
    <tr>
        <td th:text="${schedule.presentation.namePresentation}"></td>
        <td th:text="${schedule.getStringDate(schedule.date)}"></td>
        <td th:text="${schedule.getStringTime(schedule.date)}"></td>
        <td th:text="${schedule.room}"></td>
        <td>
            <table class="table table-borderless">
                <tr th:each="presenter : ${schedule.presentation.presenter}">
                    <td th:text="${presenter.firstName}+' '+${presenter.lastName}"></td>
                </tr>
            </table>
        </td>
        <td>
            <table class="table table-borderless">
                <tr th:each="listerner : ${schedule.listeners}">
                    <td th:text="${listerner.firstName}+' '+${listerner.lastName}"></td>
                </tr>
            </table>
        </td>
        <td>
            <div th:switch="${isListener}">
                <a th:case="true" th:href="@{/schedule/{id}/signOut(id=${schedule.id})}">Sign out</a>
                <a th:case="false" th:href="@{/schedule/{id}/signIn(id=${schedule.id})}">Sign in</a>
            </div>
        </td>
    </tr>

</table>
</body>
</html>