<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragment/header :: styles">
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
<div>
    <th:block th:include="fragment/header :: header"/>
</div>
<div class="container-fluid">
    <div th:if="${not #lists.isEmpty(usersList)}">
        <h2>Users List</h2>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>First name</th>
                <th>Last name</th>
                <th>E-Mail</th>
                <th>Account non expired</th>
                <th>Credentials non expired</th>
                <th>Non locked</th>
                <th>Enabled</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="user : ${usersList}">
                <td><a th:href="@{/users/{id}/profile(id=${user.id})}"><p th:text="${user.id}"></p></a></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.accountNonExpired}"></td>
                <td th:text="${user.credentialsNonExpired}"></td>
                <td th:text="${user.isAccountNonLocked()}"></td>
                <td th:text="${user.enabled}"></td>
                <td><a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a></td>
                <td><a th:href="@{/users/update/{id}(id=${user.id})}">Update</a></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>